<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>회원가입 페이지</h1>
    <form action="/signUp" method="post">
        email: <input type="text" name="email">  
         <button class="signUpBtn">이메일 사용여부 체크</button>
         <br />
        name: <input type="text" name="name"> <br />
        password: <input type="password" name="password"> <br />
        <input type="submit">
    </form>
   
    <div class="result">
        
    </div>

    <script src="static/js/signUp.js"></script>



</body>
</html>