<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>main</h1>

    <h3>welcome <%= id %>번째 가입고객님!!</h3>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum fugit, deserunt blanditiis, tempore dolores
    temporibus animi quaerat hic ratione expedita obcaecati quibusdam quos officiis dicta. Delectus cumque vero nisi.
 
</body>

</html>